<div class="item-container">
    <h4>{{propItem.name}}</h4>
    <div class="item-specs">
        @switch (propItem.priority) {
        @case ("1") {
        <span>⭐</span>
        }
        @case ("2") {
        <span>⭐⭐</span>
        }
        @case ("3") {
        <span>⭐⭐⭐</span>
        }
        @case ("4") {
        <span>⭐⭐⭐⭐</span>
        }
        @case ("5") {
        <span>⭐⭐⭐⭐⭐</span>
        }
        @default {
        <span>sem prioridade</span>
        }
        }
        <h3 (click)="removeProp()">x</h3>
    </div>
</div>