.item-container {
    background-color: antiquewhite;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    margin-block: .5rem;
}