<div class="house">
    <form [formGroup]="applyForm" (submit)="submitProp()">
        <label for="prop"></label>
        <input id="prop" type="text" formControlName="name" />
        <!-- <select>
            <option value="0">prioridade</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select> -->
        <button type="submit" id="add-button">Adicionar</button>
    </form>
</div>